body {
  margin: 0;
  background-color: #3BA3FF; }

.navbar {
  border-radius: 0;
  color: #CC1B64; }
  .navbar .active > a:focus {
    background-color: #3BA3FF; }
  .navbar .dropdown-menu {
    background-color: #E54231; }
    .navbar .dropdown-menu li a {
      color: #3BA3FF; }

.navbar-default {
  background-color: #E54231;
  border: none; }
  .navbar-default .navbar-brand {
    font-family: "Orbitron", sans-serif;
    color: #3BA3FF;
    font-weight: 700; }
    .navbar-default .navbar-brand .highlight {
      color: #FFBE00; }
  .navbar-default .navbar-toggle {
    border-color: #3BA3FF;
    background-color: #FFBE00;
    border: none; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #3BA3FF; }
  .navbar-default span {
    color: #3BA3FF; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #FFBE00; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #FFBE00; }

.navbar .dropdown-menu li a:hover {
  background-color: #FFBE00; }

.well {
  background-color: rgba(229, 66, 49, 0.8);
  color: #FFBE00;
  margin-top: 5em; }
  .well h1 {
    font-family: "Orbitron", sans-serif; }

.brLogo {
  font-family: "Orbitron", sans-serif; }
  .brLogo .highlight {
    color: #3BA3FF; }

.btn-default {
  background-color: #3BA3FF;
  box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.75);
  float: right;
  color: #FFBE00;
  border: none;
  font-family: "Orbitron", sans-serif; }

.alert-danger {
  background-color: #E54231;
  color: #FFBE00; }

.addForm .btn-default {
  clear: left; }

.profLink {
  color: #3BA3FF; }

.blogPic {
  width: 6em;
  border-radius: 50%; }

.blogDetailView {
  margin-top: 3em; }

.rightSide {
  float: right; }

span .label .label-success {
  clear: left; }

.jumboWrapper .jumbotron {
  background-color: rgba(229, 66, 49, 0.8);
  color: #FFBE00; }
  .jumboWrapper .jumbotron h1 {
    font-family: "Orbitron", sans-serif; }

.jumboWrapper .heroImage {
  margin-top: 0;
  text-align: center;
  background-image: url("../images/Running-at-sunset.jpg");
  background-size: cover;
  background-repeat: none;
  padding: 10em 0 7em 0; }
  .jumboWrapper .heroImage .highlight {
    color: #3BA3FF; }

.panel {
  margin-top: 5em;
  background-color: rgba(229, 66, 49, 0.8);
  border: none;
  padding-bottom: 1em; }
  .panel .panel-heading {
    border: none;
    overflow: hidden;
    background-color: #FFBE00;
    color: #3BA3FF; }
    .panel .panel-heading img {
      float: right;
      border-radius: 50%;
      width: 5em; }
    .panel .panel-heading h3 {
      float: left; }

@media screen and (min-width: 480px) {
  .jumboWrapper > .heroImage {
    padding: 17em 0 15em 0; } }
